{{<layout}}

{{$pageTitle}}
Import/export service
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<h2 class="heading-xlarge">Export declarations</h2>


<h2 class="heading-medium">You have no current export declarations.</h2>

<p><a href="new_export"><button class="button">Create an export declaration</button></a></p>

</div>
	    <div class="column-third">
				<div class="export-links">
	      <ul>
	      	<li><a href="#">Sign out</a></li>
	      	<li><a href="#">Previous export declarations</a></li>
	      	<li><a href="#">Previous licences and permits</a></li>
				</ul>
				</div>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
