{{<layout}}

{{$pageTitle}}
Export
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<h2 class="heading-xlarge">Export declarations</h2>


<h2 class="heading-medium">You have 2 current export declarations</h2>

<p><a href="new_export"><button class="button">Create an export declaration</button></a></p>


<div class="consignment">
<h2 class="heading-medium">Alligator skin handbags (250)</h2>
<div class="consig-info">
<p><span class="consig-label">Description:</span> Luxury handbags crafted made from alligator hides</span></p>
<p><span class="consig-label">Exporting from:</span> London, United Kingdom </p>
<p><span class="consig-label">Exporting to:</span> Shenzhen, China</p>
<p><span class="consig-label">Exporter:</span> GatorGear Ltd</p>
<p><span class="consig-label">Importer: </span>China Luxe Limited</p>
</div>
<p>No licences associated with this shipment</p>
<p><a href="new_export"><button class="button">Add licence</button></a></p>
<div class="controls">
<p><a href="#">Edit</a> &nbsp; <a href="#">Delete</a> &nbsp; <a href="#">Submit</a></p>
</div>
</div>

<div class="consignment">
<h2 class="heading-medium">Alligator skin hats (150)</h2>
<div class="consig-info">
<p><span class="consig-label">Description:</span> Luxury hats crafted made from alligator hides</span></p>
<p><span class="consig-label">Exporting from:</span> London, United Kingdom </p>
<p><span class="consig-label">Exporting to:</span> Shenzhen, China</p>
<p><span class="consig-label">Exporter:</span> GatorGear Ltd</p>
<p><span class="consig-label">Importer: </span>China Luxe Limited</p>
</div>
<p>No licences associated with this shipment</p>
<p><a href="new_export"><button class="button">Add licence</button></a></p>
<div class="controls">
<p><a href="#">Edit</a> &nbsp; <a href="#">Delete</a> &nbsp; <a href="#">Submit</a></p>
</div>
</div>






</div>
	    <div class="column-third">
				<div class="export-links">
	      <ul>
	      	<li><a href="#">Sign out</a></li>
	      	<li><a href="#">Previous export declarations</a></li>
	      	<li><a href="#">Previous licences and permits</a></li>
				</ul>
				</div>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
