{{<layout}}

{{$pageTitle}}
Import/export service
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<p><a href="current_status_1">Back</a></p>

				<h2 class="heading-xlarge">Create new export declaration</h2>

				<p class="heading-medium">Add a consignment</p>
				<div class="form-group">
			     <label class="form-label" for="exporter">Exporter</label>
					 <span class="form-hint">The name of the consignor or exporter</span>

			     <input class="form-control" id="exporter" type="text">
			   </div>
			   <div class="form-group">
			     <label class="form-label" for="importer">Importer</label>
					 <span class="form-hint">The name of the consignee or importer</span>

			     <input class="form-control" id="importer" type="text">
			   </div>
				 <div class="form-group">
					<label class="form-label" for="importer">Country of export</label>
					<input class="form-control" id="importer" type="text">
				</div>
				<div class="form-group">
				 <label class="form-label" for="importer">Country of origin</label>
				 <input class="form-control" id="importer" type="text">
			 </div>
			 <div class="form-group">
				<label class="form-label" for="importer">Commodity Code</label>
				<span class="form-hint">These codes are provided by the Trade Tarrif</span>
				<input class="form-control" id="importer" type="text">
			</div>
			<div class="form-group">
			 <label class="form-label" for="importer">Net mass (kg)</label>
			 <input class="form-control" id="importer" type="text">
		 </div>
		 <div class="form-group">
			<label class="form-label" for="importer">Quota</label>
			<input class="form-control" id="importer" type="text">
		</div>
			 <div class="form-group">
 			 <label class="form-label" for="importer">Quantity</label>
			 <span class="form-hint">How many items are being exported?</span>
 			 <input class="form-control" id="importer" type="text">
 		 </div>
		 <div class="form-group">
			 <label class="form-label" for="importer">Description</label>
			 <span class="form-hint">Packages and description of goods</span>
			 <input class="form-control" id="importer" type="text">
		 </div>

	<p><a href="current_status_2"><button class="button">Save</button></a></p>

</div>
	    <div class="column-third">
					<!--
				<div class="export-links">

	      <ul>
	      	<li><a href="#">Sign out</a></li>
	      	<li><a href="#">Previous export declarations</a></li>
	      	<li><a href="#">Previous licences and permits</a></li>
				</ul>
				</div>
			-->
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
