{{<layout}}

{{$pageTitle}}
Apply for a CITES permit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">



	<div class="grid-row">


           <div class="column-two-thirds">
              <h1 class="heading-xlarge">Check your details are correct before confirming</h1>
              <div class="check-details">
                <h2 class="heading-small">Name on card:<p> D Attenborough</p>
               </h2></div>
                <div class="check-details">
                <h2 class="heading-small">Card number:</h2> <p>************6256</p>
              </div>
              <div class="check-details">
                <h2 class="heading-small">Expiration date:</h2> 
                <p>12/19</p>
              </div>

              <div class="check-details">
                <h2 class="heading-small">Billing address:</h2> 
                <p>Chichester Exports<br>
                Devon Close<br>
                Chichester<br> 
               CX3 4UY</p>

              </div>
              <div class="check-details">
                <h2 class="heading-small">Email address:</h2> 
                <p> david@chichesterexports.co.uk</p>
              </div>
              <div class="check-details">
                <h2 class="heading-small">Payment of:</h2>
                   <p class="payment-info"> CITES permit application to APHA </p>
              </div>
              <div class="check-details">
                <h2 class="heading-small">Amount to pay:</h2>
                   <p class="payment-amount"> £55.00 </p>
              </div>
            </div>
      <div class="form-group">
        <a href="current_status_3"><button class="button">Confirm payment</button></a>
      </div>
        <div class="column-third">

   
      </div>
      </div>

	


</main>
</div>
{{/content}}

{{/layout}}
