{{<layout}}

{{$pageTitle}}
Export goods to non-EU countries
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">
	    <!--  <p><h1 class="heading-xlarge">Register to look after children</h1> -->
				<h2 class="heading-xlarge">Export declarations</h2>


<p>foo bar</p>

<table>
<thead>	<td></td></thead>
<tbody>
	<tr>
	<td>You have no current export declarations.</td>
</tr>
</tbody>
</table>



</div>
	    </div>
	    <div class="column-third">
	      <li>
	      	<ul>Sign out</ul>
	      	<ul>Previous export declarations</ul>
	      	<ul>Previous licences and permits</ul>
	      	</li>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
