{{<layout}}

{{$pageTitle}}
GOV.UK
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<p><h1 class="heading-xlarge">Apply for a CITES permit</h1>

          <p>CITES is the Convention on International Trade in Endangered Species of Wild Fauna and Flora, an international agreement between governments that came into force in 1975. The import, export and use for commercial gain of certain species requires a CITES permit.</p>

          <h2 class="heading-medium">CITES species</h2>

          <p>Over 2,500 animal and 25,000 plant species are included in the Appendices of CITES on Appendix I, II or III. In the European Union the CITES Appendices are replaced by Annexes A, B, C and D. The <a rel="external" href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2014.361.01.0001.01.ENG">EU regulations</a> provide a complete list of species controlled by CITES under the EU regulations.</p>

          <a href="cites_qualify"><button class="button">Start now</button></a>



<!--
				<fieldset class="validate inline-fields" data-validation-name="dateOfBirthDate" data-validation-type="fieldset" data-validation-rules="allNonEmpty" data-validation-children="day month year">

      <span class="day field-wrapper">
        <label for="dob_dob_day" class="">
            Day
        </label>
        <input type="number" id="dob_dob_day" name="dob.dob.day" value="" autocomplete="off" class="text  day validate " data-validation-name="day" data-validation-type="field" data-validation-rules="nonEmpty" onkeyup="moveOnMax(this,'dob_dob_month')">
      </span>

      <span class="month field-wrapper">
        <label for="dob_dob_month" class="">
            Month
        </label>
        <input type="number" id="dob_dob_month" name="dob.dob.month" value="" autocomplete="off" class="text  month validate " data-validation-name="month" data-validation-type="field" data-validation-rules="nonEmpty" onkeyup="moveOnMax(this,'dob_dob_year')">
      </span>

      <span class="year field-wrapper">
        <label for="dob_dob_year" class="">
            Year
        </label>
        <input type="number" id="dob_dob_year" name="dob.dob.year" value="" autocomplete="off" class="text  year text validate " data-validation-name="year" data-validation-type="field" data-validation-rules="nonEmpty">
      </span>

        <p class="example">For example: <span class="date">31 3 2010</span></p>
    </fieldset>
-->

	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>




	


</main>
</div>
{{/content}}

{{/layout}}
