{{<layout}}

{{$pageTitle}}
Apply for a CITES permit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<p><h1 class="heading-xlarge">Apply for a CITES permit</h1>

                  <h2>What is the original source of the specimen?</h2>

          <p>
                        <fieldset>
                        <label class="block-label" for="radio-inline-1">
                          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="I">
                          Taken from the wild
                        </label>
                        <label class="block-label" for="radio-inline-2">
                          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="II">
                          Reared in a controlled environment, taken as eggs or juveniles from the wild
                        </label>
                        <label class="block-label" for="radio-inline-3">
                          <input id="radio-inline-3" type="radio" name="radio-inline-group" value="III">
                          Bred in captivity meeting Regulation (EC) No 865/2006
                        </label>
                        <label class="block-label" for="radio-inline-4">
                          <input id="radio-inline-4" type="radio" name="radio-inline-group" value="IV">
                          Bred in captivity not meeting Regulation (EC) No 865/2006
                        </label>
                        <label class="block-label" for="radio-inline-5">
                          <input id="radio-inline-5" type="radio" name="radio-inline-group" value="V">
                          Confiscated or seized specimens
                        </label>
                        <label class="block-label" for="radio-inline-6">
                          <input id="radio-inline-6" type="radio" name="radio-inline-group" value="VI">
                          Pre-convention
                        </label>
                        <label class="block-label" for="radio-inline-7">
                          <input id="radio-inline-7" type="radio" name="radio-inline-group" value="VII">
                          Source unknown
                        </label>
                        <label class="block-label" for="radio-inline-8">
                          <input id="radio-inline-8" type="radio" name="radio-inline-group" value="VIII">
                          Taken from the marine environment not under any state jurisdiction
                        </label>
                      </fieldset>
          </p>



          <p><a href="cites_questions_2"><button class="button">Continue</button></a>
            <br>

          <a href="#">Back</a></p>



<!--
				<fieldset class="validate inline-fields" data-validation-name="dateOfBirthDate" data-validation-type="fieldset" data-validation-rules="allNonEmpty" data-validation-children="day month year">

      <span class="day field-wrapper">
        <label for="dob_dob_day" class="">
            Day
        </label>
        <input type="number" id="dob_dob_day" name="dob.dob.day" value="" autocomplete="off" class="text  day validate " data-validation-name="day" data-validation-type="field" data-validation-rules="nonEmpty" onkeyup="moveOnMax(this,'dob_dob_month')">
      </span>

      <span class="month field-wrapper">
        <label for="dob_dob_month" class="">
            Month
        </label>
        <input type="number" id="dob_dob_month" name="dob.dob.month" value="" autocomplete="off" class="text  month validate " data-validation-name="month" data-validation-type="field" data-validation-rules="nonEmpty" onkeyup="moveOnMax(this,'dob_dob_year')">
      </span>

      <span class="year field-wrapper">
        <label for="dob_dob_year" class="">
            Year
        </label>
        <input type="number" id="dob_dob_year" name="dob.dob.year" value="" autocomplete="off" class="text  year text validate " data-validation-name="year" data-validation-type="field" data-validation-rules="nonEmpty">
      </span>

        <p class="example">For example: <span class="date">31 3 2010</span></p>
    </fieldset>
-->

	    </div>
	    <div class="column-third">
	      <p></p>
	    </div>
	  </div>




	


</main>
</div>
{{/content}}

{{/layout}}
