{{<layout}}

{{$pageTitle}}
Export
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<div class="grid-row">
	    <div class="column-two-thirds">

				<h2 class="heading-xlarge">Export declarations</h2>


<h2 class="heading-medium">You have 1 current export declaration</h2>

<p><a href="new_export"><button class="button">Create an export declaration</button></a></p>

<!--
<div class="consignment">
<h2 class="heading-medium">Alligator skin handbags (250)</h2>
<div class="consig-info">
<p><span class="consig-label">Description:</span> Luxury handbags crafted from alligator hides</span></p>
<p><span class="consig-label">Exporting from:</span> London, United Kingdom </p>
<p><span class="consig-label">Exporting to:</span> Shenzhen, China</p>
<p><span class="consig-label">Exporter:</span> GatorGear Ltd</p>
<p><span class="consig-label">Importer: </span>China Luxe Limited</p>
</div>
<p class="heading-small">Licences</p>
<p>CITEs licence &nbsp;<span class="status-label">Pending</span></p>

<p><a href="new_export"><button class="button">Submit</button></a></p>
<div class="controls">
<p><a href="#">Edit</a> &nbsp; <a href="#">Delete</a> &nbsp; <a href="#">Add licence</a></p>
</div>
</div>
-->

<div class="consignment">
<h2 class="heading-medium">Alligator skin hats (150)</h2>
<div class="consig-info">
<p><span class="consig-label">Description:</span>Hats crafted from alligator hides</span></p>
<p><span class="consig-label">Exporting from:</span> London, United Kingdom </p>
<p><span class="consig-label">Exporting to:</span> Shenzhen, China</p>
<p><span class="consig-label">Exporter:</span> GatorGear Ltd</p>
<p><span class="consig-label">Importer: </span>China Luxe Limited</p>
</div>
<p><a href="#">Edit consignment</a> &nbsp; <a href="#">Delete</a> &nbsp; </p>
<p><a href="new_export"><button class="button">Submit export declaration to HMRC</button></a></p>
<p class="heading-small">Licences, permits and certificates</p>
<p>No licences, permits or certificates associated with this shipment.</p>
<div class="controls">
<p><a href="pick_license">Add licence, permit or certificate</a></p>
</div>
</div>






</div>
	    <div class="column-third">
				<div class="export-links">
	      <ul>
	      	<li><a href="#">Sign out</a></li>
	      	<li><a href="#">Previous export declarations</a></li>
	      	<li><a href="#">Previous licences and permits</a></li>
				</ul>
				</div>
	    </div>
	  </div>





</main>
</div>
{{/content}}

{{/layout}}
