{{<layout}}

{{$pageTitle}}
 Export goods to non-EU countries
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Export goods to non-EU countries</h1>

	<p>Exports to countries outside the EU are called exports to ‘third countries’. You need to submit an export declaration for these and may need an export licence.</p>

<p>You might also have to pay custom duties and taxes in the destination country.</p>

<p>Export regulations vary, depending on the country you’re exporting to.</p>

<h2 class="heading-medium">Commodity codes</h2>

<p>You need <a href="https://www.gov.uk/finding-commodity-codes">a commodity code</a> for all exports outside the EU. The code classifies your goods for duty, tax rates and regulations, eg licences.</p>

<h2 class="heading-medium">Embargoes or sanctions</h2>

<p>Check if there are <a href="http://gov.uk/sanctions-embargoes-and-restrictions">embargoes or sanctions</a> against exporting certain goods (eg military, defence or security related goods) to individual countries.</p>

<h2 class="heading-medium">Export licences</h2>

<p>Sometimes you might need a licence for exporting goods to a third country. For example, agricultural goods or valuable antiques often need one. You can apply for licences you need when completing an electronic export declaration.</p>

<h2 class="heading-medium">Export declarations</h2>

<p>If you want to export goods to a third country, you must submit an electronic export declaration.</p>

	<a href="verify"><button class="button">Start now</button></a>







</div>

</main>
</div>
{{/content}}

{{/layout}}
