{{<layout}}

{{$pageTitle}}
Export goods to non-EU countries
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Licensing and permission</h1>


	<h2 class="heading-large">Start pages</h2>

	<ul>

		<li>
		Context specific /	<a href="../cites/export_start">Export goods</a> /	<a href="./apply-cites-permit">Apply for a CITES permit</a>
		</li>

	</ul>

<!--
	<h2 class="heading-large">Get permission to export something outside the EU</h2>
	<ol class="list-number">

			<li><a href="current_status_1">Empty dashboard</a></li>
			<li><a href="new_export">Create new export declaration</a></li>
			<li><a href="current_status_2">Dashboard with 1 consignment and no licences</a></li>
			<li><a href="current_status_3">Dashboard with 2 consignment and 1 pending licences</a></li>


	</ul> -->
<!--
	<h2 class="heading-large">Next steps</h2>
	<ul>
		<li>
		 Outcomes
		</li>
		<li>
			<a href="/you-dont-need-permission">Registration not required</a>
		</li>
		<li>
			<a href="/you-need-permission">Registration required – what you need to do</a>
		</li>
		<li>—</li>
		<li>
			Verify steps
		</li>
		<li>
			<a href="/verify">– Verify</a>
		</li>
		<li>
			<a href="/verify_2">– Verify step 2</a>
		</li>
		<li>
			<a href="/verify_3">– Verify step 3 (sign in)</a>
		</li>
		<li>
			<a href="/verify_3">– Verify step 3 (security code)</a>
		</li>
		<li>
			<a href="/verify_processing">– Verify is processing ... </a>
		</li>
		<li>
			<a href="/verify_logged_in">Logged into Verify</a>
		</li>
	</ul>
-->



</main>

{{/content}}

{{/layout}}
